<ul>
  <% @editors.each do |editor| %>
    <li>
      <p><a href="/editors/<%= editor.id %>"><%= editor.name1 %></a></p>
      <img src="<%= editor.img_url %>" alt="<%= editor.name1 %>">
    </li>
  <% end %>
</ul>