<% if @author %>
  <h1>Welcome, <%= @author.name1 %>, you party planner extraordinarie!</h1>
<% elsif @editor %>
  <h1>Welcome, <%= @editor.name1 %>, you animal you!</h1>
<% else %>
  <h1>Ready to party? Please login or create an account.</h1>
<% end %>

<div>
  <img id="logo" src="/img/patzologo.png" alt="Patzo Party">
</div>

<% if @author %>
  <p><a href="/new_article">Create a new article</a></p>
  <p><a href="/articles">See all articles</a></p>
  
  <form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="delete">
    <button>Log Out.</button>
  </form>
<% elsif @editor %>
  <p><a href="/articles">See all articles</a></p>
  <form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="delete">
    <button>Log Out.</button>
  </form>
<% else %>
  <p><a href="/login_author">Author Log In</a></p>
  <p><a href="/new_author">Author Sign Up!</a></p>
  <p><a href="/authors">Author List</a></p>  
  <p><a href="/login_editor">Editor Log In</a></p>
  <p><a href="/new_editor">Editor Sign Up!</a></p>
  <p><a href="/editors">Editor List</a></p>
<% end %>
