<% if @author %>
  <h1>Welcome, <%= @author.name1 %>, you party planner extraordinarie!</h1>
<% elsif @editor %>
  <h1>Welcome, <%= @editor.name1 %>, you party animal you!</h1>
<% else %>
  <h1>Have a party idea? Please login or create an account to edit or create an article.</h1>
<% end %>

<div id="logodiv">
  <img id="logo" src="/img/patzologo.png" alt="Patzo Party">
</div>

<% if @author %>
  <p><a href="/new_article">Create a new article</a></p>
  <p><a href="/authors">Author List</a></p>  
  <form action="/author_sessions" method="POST">
    <input type="hidden" name="_method" value="delete">
    <button>Log Out</button>
  </form>
<% elsif @editor %>
  <p><a href="/editors">Editor List</a></p>
  <form action="/editor_sessions" method="POST">
    <input type="hidden" name="_method" value="delete">
    <button>Log Out</button>
  </form>
<% else %>
  <p><a href="/login_author">Author Log In</a>
  <a href="/new_author">Author Sign Up!</a>
  <a href="/login_editor">Editor Log In</a>
  <a href="/new_editor">Editor Sign Up!</a></p>
<% end %>
