<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link href='https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Welcome to Patzo Party Wiki</title>
</head>
<body>
  <div class="wrapper">
    <h1>Welcome to Patzo Party Wiki</h1>
    <p><a id="article" href="/articles">Articles</a></p>
    <%= yield %>
    <p><a id="home" href="/">Home</a></p>
  </div>
</body>
</html>

<!-- For stylesheet link, knows to look in public folder to start; Sinatra takes care of this -->