<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Patzo Party Wiki</title>
</head>
<body>
  <div class="wrapper">
    <h1>Welcome to Patzo Party Wiki</h1>
    <%= yield %>
    <p><a href="/">Home</a></p>
  </div>
</body>
</html>