<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Welcome to Patzo Party Wiki</title>
</head>
<body>
  <div class="wrapper">
    <h1>Welcome to Patzo Party Wiki</h1>
    <p><a href="/articles">Articles</a></p>
    <%= yield %>
    <p><a href="/">Home</a></p>
  </div>
</body>
</html>

<!-- For stylesheet link, knows to look in public folder to start; Sinatra takes care of this -->