<h5>Let's get the party started!</h5>
<form action="/editor_sessions" method="POST">
  <label for="name">First Name</label>
  <input class="input" type="text" name="name1" placeholder="First Name">
  <label for="name">Last Name</label>
  <input class="input" type="text" name="name2" placeholder="Last Name">
  <label for="password">Password:</label>
  <input class="input" type="password" name="password" id="password">
  </br>
  <button class="button">Log In</button>
</form>

