<h5>Let's get the party started!</h5>
<form action="/sessions" method="POST">
  <label for="name">Username:</label>
  <input type="text" name="name" placeholder="Your username!">
  <label for="password">Password:</label>
  <input type="password" name="password" id="password">
  <button>Log In</button>
</form>

