<h5>Editors sign up!</h5>
<form action="/new_editor" method="POST">
  <div><input class="input" type="text" name="name1" placeholder="First Name"></div>
  <div><input class="input" type="text" name="name2" placeholder="Last Name"></div>
  <div><input class="input" type="password" name="password" placeholder="password"></div>
  <div><input class="input" type="password" name="password_confirmation" placeholder="password confirmation"></div>
  <div><input class="input" type="text" name="location" placeholder="Party city of choice"></div>
  <div><input class="input" type="text" name="img_url" placeholder="Picture URL"></div>
  <div><button class="button">Sign up</button></div>
</form>
