<h5>Write an article!</h5>
<form action="/new_article" method="POST">
  <div><input type="text" name="title" placeholder="Party Idea"></div>
  <div><input type="text" name="img_url" placeholder="Picture"></div>
  <div><textarea class="content" name="content" rows="5" cols="50" placeholder="Write a description of your theme idea here"></textarea></div>
  <div><button>Submit your idea</button></div>
</form>

