<h5>Authors sign up!</h5>
<form action="/new_author" method="POST">
  <div><input type="text" name="name" placeholder="Username"></div>
  <div><input type="password" name="password" placeholder="password"></div>
  <div><input type="password" name="password_confirmation" placeholder="password confirmation"></div>
  <div><input type="text" name="name1" placeholder="First name"></div>
  <div><input type="text" name="name2" placeholder="Last name"></div>
  <div><input type="text" name="location" placeholder="Party city of choice"></div>
  <div><input type="text" name="img_url" placeholder="Picture URL"></div>
  <div><button>Sign up</button></div>
</form>
