<h5>Write an article!</h5>
<form action="/new_author" method="POST">
  <div><input type="text" name="title" placeholder="Party Idea"></div>
  <div><input type="text" name="img_url" placeholder="Picture"></div>
  <div><input type="text" class="content" name="content" placeholder="Write a description of your theme idea here"></div>
  <div><button>Submit your idea</button></div>
</form>

