<h1>Editors sign up!</h1>
<form action="/new_editor" method="POST">
  <input type="text" name="name" placeholder="Username">
  <input type="password" name="password" placeholder="password">
  <input type="password" name="password_confirmation" placeholder="password confirmation">
  <input type="text" name="name1" placeholder="First name">
  <input type="text" name="name2" placeholder="Last name">
  <input type="text" name="location" placeholder="Party city of choice">
  <input type="text" name="img_url" placeholder="Picture URL">
  <button>Sign up</button>
</form>
