#logo {
  height: 250px;
  width: 250px;
}

#logodiv {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  display: inline-block;
  background-size: cover;
  background-repeat: repeat;
}


.article {
  width: 500px;
  height: 375px;
}

.profile {
  width: 200px;
  height: 150px;
}